.button {
  margin-right: 5px;
}

#breakfast-gifs-here {
  background-image: url(../images/plate.png);
  background-size: 100%;
  margin: 0 auto;
}
  .container {
    margin: 0 auto;
  }

  .img {
    height: 300px;
    width: 500px;
}

  .gif-div {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-right: 10px;
    float: left;
  }

  .gif-p {
    font-family: 'Merriweather', serif;
    background: white;
    border-style: solid;
    border-width: .5px;
    text-align: center
  }

  body {
    margin: 0 auto;
  }

 #carouselExampleSlidesOnly{
    font-family: 'Merriweather', serif;
    height: 200px;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 20px;
  }

  .row {
    margin: 0 auto;
    text-align: center;
  }

  .col-md-12 {
    margin: 0 auto;
    font-family: 'Merriweather', serif;
  }

@media (min-width: 768px) and (max-width: 991.98px) { 

.body {
  max-width: 100%;
  margin: 0 auto;
}
}

@media (min-width: 576px) and (max-width: 767.98px) { 
  .body {
    max-width: 100%;
    margin: 0 auto;
  }
}


@media (max-width: 575.98px) {

  html {
    margin: 0 auto;
    max-width: 500px;
  }
  .body {
    max-width: 100%;
    margin: 0 auto;
  }
  .container {
    margin: 0 auto;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 350px;
    padding: 0 0 0 0;
  }

  .img {
    height: 100%;
    width: 100%;
    margin: 0, auto;
    margin-top: 20px;
}

#carouselExampleSlidesOnly {
  max-width: 375px;
  margin: 0 auto;
}

.row {
  margin: 0 auto;
}

.col-sm-12 {
  margin: 0 auto;
}

}